<!DOCTYPE html>
<html>
<style>
.selected {
    background-color: #337AB7;
    color:white;
}
.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #337AB7;
    color:white;
}
</style>
    <body>
        <div class="container">
            <h2>Books</h2>
            <table class="table table-hover table-bordered " style="background-color: #F5F5F5;">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Genre</th>
                        <th>Year</th>
                    </tr>
                </thead>
                <tbody ng-repeat="book in books" ng-click="setSelectedBook($index)" ng-class="{'selected':$index == selectedRow}">
                    <tr>
                        <td>{{book.id}}</td>
                        <td>{{book.title}}</td>
                        <td>{{book.author}}</td>
                        <td>{{book.genre}}</td>
                        <td>{{book.year}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <button type="button" class="btn btn-success" ng-click="addBook()" style="width: 150px;">Add</button>
            <button type="button" class="btn btn-primary" ng-click="editBook()" style="width: 150px;" ng-hide="selectedRow === null">Edit</button>
            <button type="button" class="btn btn-danger"  ng-click="removeBook(selectedRow)" style="width: 150px;" ng-hide="selectedRow === null">Remove</button>
        </div>
    </body>
</html>
